<html>
    <head>
        <title>Fermare Blog Post</title>
    </head>

    <body>
        <div>
            <h1 align="center"><a href="/">Fermare</a></h1>
            <h4 align="center">by Warrick Kin</h4>
        </div>

        <div>
            <p>Published:</p>
            <h2><a href="/">My First Post</a></h2>    

            {% for post in posts %}
                <div>
                    <p>Published: {{ post.published_date }}</p>                          
                    <p>Published: {{ post.title }}</p>
                    <p>Published: {{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}

        </div>

    </body>
</html>